<% if notice.present? %>
  <div class="alert alert-notice">
    <p><%= notice %></p>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert alert-danger">
    <p><%= alert %></p>
  </div>
<% end %>
<% if resource.errors && resource.errors.full_messages.present? %>
  <div class="alert alert-danger form-errors">
    <p>Please fix these issues</p>
    <ul>
      <% resource.errors.full_messages.uniq.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
