<div ng-view></div>
<script type="text/ng-template" id="gallery.html">
  <%= render partial: "home/gallery" %>
</script>
<script type="text/ng-template" id="slideshow.html">
  <%= render partial: "home/slideshow" %>
</script>
