/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

body {
  background: gray;
}

a {
  text-decoration: none;
}

#container {
  background: whitesmoke;
  margin: 20px auto;
  width: 1024px;
  padding: 10px 60px;
  border: 2px solid gray;
  border-radius: 15px;
}

pre {
  border: 2px solid pink;
  border-radius: 10px;
  background: black;
  color: white;
  padding: 10px;
}

code {
  background: lightgray;
  border-radius: 3px;
  padding: 1px 5px;
  color: brown;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 1.75em;
  line-height: 1.225;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.4;
}

h6 {
  font-size: 1em;
  color: #777;
  margin-top: 0px;
  margin-bottom: 0px;
}

pre > code {
  background: black;
  color: white;
}

ul {
  padding-left: 15px;
}

ul + pre, ul + pre + pre, ul + pre + p + pre {
  margin-left: 20px;
}

h2 {
  border-bottom: 1px solid #ccc;
}
