/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.hidden { display: none; }
div.top-buffer { margin-top: 20px; }
img.img-center { margin: 0 auto; }

.slideshow {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
  background: #000;

  img {
    max-height: 100%;
    max-height: 100vh;
  }

  img.rotated-odd {
    max-width: 100vh;
  }

  img.rotated-even {
  }

  .slideshow-overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: fixed;

    .slideshow-controls {
      @extend .text-center;
      position: fixed;
      bottom: 0px;
      width: 100%;
    }
  }
}

.slideshow:hover {
  .slideshow-overlay {
    opacity: 1;
  }
}
