/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.top-buffer { margin-top: 20px; }

.previous, .next, .first, .last, .back { position: fixed; }
.previous, .first { left: 15px; }
.next, .last { right: 15px; }
.previous, .next { top: 45%; }
.first, .last { top: 50%; }
.back { bottom: 20px; left: 50%; }
.img-center { margin: 0 auto; }
.img-verticle-align {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  //display: flex;
  justify-content: center;
  align-items: center;
}
.hidden { display: none; }
.modal-custom { width: 100%; height: 100%; margin: 0 auto; }
.modal-custom .modal-content { border: 0px; text-align: center; background: none; }
.modal-body { padding: 0px; }
.modal-backdrop.in { opacity: 1; }

.slideshow-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
}

.slideshow:hover .slideshow-overlay { opacity: 1; }
.slideshow img { max-height: 100vh; }
.slideshow-controls { position: fixed; bottom: 0px; text-align: center; width: 100%; }
.slideshow { display: flex; align-items: center; min-height: 100%; min-height: 100vh; }
