<div class="container-fluid galleries">
  <div class="row">
    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6 top-buffer" ng-repeat="gallery in galleries">
      <a ng-if="gallery.has_galleries == false" href="#/images/{{gallery.id}}/slideshow">
        <div class="thumbnail">
          <img ng-src={{gallery.thumbnail_path}} class="img-responsive" />
          <div class="caption">
            <p class="text-center">
            {{gallery.caption}}
            </p>
          </div>
        </div>
      </a>
      <a ng-if="gallery.has_galleries == true" href="#/images/{{gallery.id}}/">
        <div class="thumbnail">
          <img ng-src={{gallery.thumbnail_path}} class="img-responsive" />
          <div class="caption">
            <p class="text-center">
            {{gallery.caption}}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row" ng-hide="parent_id === null">
    <div class="col-md-12 text-center top-buffer">
      <a href="#/images/{{parent_id}}" class='btn btn-default'>Back</a>
    </div>
  </div>
</div>
