<div class="row">
  <div class="column-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <% @image.children.each do |image| %>
    <div class="col-md-1">
      <%= link_to image_tag(image.images.first.try(:id) || 'default_gallery_image.png', class: 'img-responsive img-thumbnail'), image, class: 'thumbnail' %>
    </div>
  <% end %>
</div>

<div class="row">
  <% @image.images.each do |image| %>
    <div class="col-md-1">
      <%= image_tag(image.id, class: 'img-responsive img-thumbnail') %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', images_path %>
